<footer class="footer has-background py-5" style="background-color: #30293d;">
    <div class="container has-text-centered">
        <!-- ✅ Titre -->
        <p class="title is-5 has-text-light">Suivez-nous</p>

        <!-- ✅ Icônes Réseaux Sociaux -->
        <div class="is-flex is-justify-content-center my-3">
            <a href="#" class="mx-3"><img src="/img/icons/facebook.png" class="image is-48x48" alt="Facebook"></a>
            <a href="#" class="mx-3"><img src="/img/icons/instagram.png" class="image is-48x48" alt="Instagram"></a>
            <a href="#" class="mx-3"><img src="/img/icons/11185863_x_twitter logo_x logo_branding_twitter-x_icon.png" alt="twitter-X" class="image is-48x48"></a>
            <a href="#" class="mx-3"><img src="/img/icons/linkedin.png" class="image is-48x48" alt="LinkedIn"></a>
        </div>

        <!-- ✅ Liens utiles organisés en colonnes -->
        <div class="columns is-centered my-4">
            <div class="column is-3 has-text-centered">
                <h3 class="title is-6 has-text-light">Assistance</h3>
                <a href="/help" class="has-text-light">page d'aide</a>
            </div>
            <div class="column is-3 has-text-centered">
                <h3 class="title is-6 has-text-light">Recherches</h3>
                <a href="/review" class="has-text-light">Avis</a>
                <a href="/talents" class="has-text-light">Talents</a><br>
            </div>
            <div class="column is-3 has-text-centered">
                <h3 class="title is-6 has-text-light">Ressources</h3>
                <a href="/legal-notices" class="has-text-light">Mentions légales</a>
            </div>
        </div>

        <!-- ✅ Copyright -->
        <p class="has-text-light">&copy; 2025 SkillSwap - Tous droits réservés.</p>
    </div>
</footer>
