<!DOCTYPE html>
<html class="has-background-light" lang="fr">
<head>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>SkillSwap | <%= title %></title>
    <link rel="icon" href="data:image/x-icon;base64,AAABAAEAAQAAAAAAAAAAA..." />
    <link rel="stylesheet" href="/css/<%= cssFile %>.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="/js/burgerMenu.js" defer></script>
    