.profiles{
    object-fit: cover;   /* Remplir l'espace sans déformation, avec potentielle coupure */
    width: 100%;          /* Remplir toute la largeur du conteneur */
    height: auto;
    object-position: 50% 20%;
}
.profile1{
    object-position: 50% 10%;
}
.primaryColor{
    background-color: #30293d !important; /* Couleur principale Bulma */
}
.primaryColor1{
    color: #30293d; /* Couleur principale Bulma */
}
/* Conteneur du slider */
.icon-slider {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 20px 0;
    background-color: transparent;
}

/* Track des icônes */
.icon-track {
    display: flex;
    gap: 40px;
    animation: scrollIcons 10s linear infinite;
}

/* Icônes clickables */
.icon-link {
    font-size: 1.5rem;
    text-decoration: none;
    transition: transform 0.2s, color 0.3s;
    display: flex;
    align-items: center; /* Centre le contenu */
}

/* Style des icônes */
.icon-link .icon {
    font-size: 3rem;
    color: #30293d; /* Couleur principale Bulma */
}


/* Effet au survol */
.icon-link:hover {
    transform: scale(1.2);
}

.icon-link:hover .icon {
    color: #ffdd57; /* Changement de couleur au survol */
}

/* Animation */
@keyframes scrollIcons {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
.profil-button{
    background-color: #d58bf3 !important;
    color: #30293d !important;
    border: none !important;
    transition: background-color 0.3s ease !important;
}
.profil-button:hover{
    background-color: #c06ae5 !important;
    color: white !important;
}
a.user-name{
    color: #30293d !important;
    font-weight: 700 !important;
    font-size: 1.25rem !important;
    text-decoration: none !important;
    transition: color 0.2s ease !important;
}
a.user-name:hover {
    color: #a64ac9 !important; /* ou un peu plus clair si tu préfères */
    text-decoration: underline !important;
  }

 
  
 
  

