html, main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
};

.section {
    background-color: #f3e8f3;
    flex: 1; /* Permet d'étirer le contenu principal */
    text-align: center;
};

footer {
    width: 100%;
    margin-top: auto;
}
.image.is-128x128 img {
    object-fit: cover;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}